body {
    margin: 0;
    padding: 0;
}

#main-header {
    width: 100%;
    background-color: #125784;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    height: 130px;
}

#logo {
    padding: 10px;
}

#logo img {
    object-fit: contain;
    width: 15%;
}

#menu-container {
    padding: 10px;
}

#menu-container menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-container menu li {
    margin: 0 10px;
}

#menu-container menu li a {
    text-decoration: none;
    color: aliceblue;
}

.search-button {
    padding: 10px;
}

.search-button button {
    padding: 5px 25px;
}
section {
    font-family: 'roboto', sans-serif;
}
#rails {
    background-image: url(../img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 100px 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#rails h1 {
    font-size: 50px;
    margin: 0;
}

#rails div {
    padding: 20px;
    border-radius: 10px;
}

#titlewala {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f57f17;
}

.content {
    width: 75%;
}

.image {
    width: 25%;
}

.content h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.content p {
    font-size: 21px;
    line-height: 1.5;
}

.image img {
    max-width: 100%;
    height: auto;
}
#imgwala {
    padding: 0px;
}

.image-container {
    display: flex;
}

figure {
    width: 33.33%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}
#formwala {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #5e35b1;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    padding: 5px;
}
.form-field > button {
    padding: 5px 35px;
    width: auto; /* Adjust width to fit content */
}
footer {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    font-family: 'roboto', sans-serif;
}

.logo {
    width: 10%;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content {
    width: 75%;
    color: white;
}

.content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
}
